<h1>RESTful Task</h1>

{{ newTask.title }} <br>
{{ newTask.desc }} <br>
{{ newTask.completed }} <br>
<div>
  Title:<input type="text" [(ngModel)]="newTask.title"><br>
  Desc: <input type="text" [(ngModel)]="newTask.desc"><br>
  Completed: <label>
    True: <input type="checkbox" name="true" [(ngModel)]="newTask.completed">
  </label>
  <input (click)="onSubmit(newTask)" type="submit" value="Submit Task"><br>
</div>
<div>
  <input (click)="getAllTask()" type="submit" value="view all tasks">
</div>
<div *ngIf="tasktoedit.title">
  <h1>Edit a Task</h1>
  <form (submit)="onEdit(tasktoedit._id, tasktoedit)">
    <p> {{ tasktoedit.title }}</p>
    Title: <input type="text" id="titleedit" name="tasktoedit.title" [(ngModel)]="tasktoedit.title">
    Desc: <input type="text" id="descedit" name="tasktoedit.desc" [(ngModel)]="tasktoedit.desc">
    <input type="submit" value="Edit">
  </form>
</div>
<p *ngFor="let task of tasks">
  <li>Title: {{ task.title }}</li>
  <li>Desc: {{ task.desc }}</li>
  <li>Completed: {{ task.completed }}</li>
  <button (click)="deleteTask(task._id)">Delete</button>
  <button (click)="editForm(task._id)">Edit</button>
</p>



<router-outlet></router-outlet>